@import "../../constans/colors.scss";

@mixin breakpoint($point) {
  @if $point == lg {
    // 768px
    @media (min-width: 62.5em) {
      @content;
    }
  }
}

.header {
  background: $content-color;
  width: 100%;
  height: 100px;
  padding: 0 1.5rem;
  @include breakpoint(lg) {
    padding: 0 3rem;
  }
  transition: 0.3s ease all;

  &__content {
    overflow: hidden;
    color: $text-color;
    margin: 0 auto;
    max-width: 1950px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 100;

    &__logo {
      width: 10rem;
      height: 5rem;
    }

    &__nav {
      top: 0;
      right: 100%;
      bottom: 0;
      width: 100%;
      height: 100vh;
      position: fixed;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      background: $content-color;
      backdrop-filter: blur(2px);
      transform: translate(0);
      transition: 0.3s ease transform;
      color: $text-color;

      @include breakpoint(lg) {
        transform: none;
        flex-direction: row;
        background: transparent;
        width: auto;
        height: 100%;
        position: static;
      }
      ul {
        list-style: none;
        padding: 0;
        display: flex;
        flex-direction: column;
        margin-bottom: 32px;
        @include breakpoint(lg) {
          flex-direction: row;
          align-items: center;
          margin-bottom: 0;
          margin-right: calc(0.5rem + #{16px});
        }
        li {
          &:not(:last-child) {
            margin-bottom: 32px;
            @include breakpoint(lg) {
              margin-bottom: 0;
              margin-right: 16px;
            }
          }
          a {
            text-decoration: none;
            color: inherit;
            padding: 1rem 0.5rem;
            font-size: 1.2rem;
            @include breakpoint(lg) {
              padding: 3rem 1rem;
            }

            transition: 0.3s ease all;

            &:hover {
              background: $primary-color;
            }
            &:active {
              border-radius: calc(#{12px} + 6px);
              background: linear-gradient(rgba(#fff, 0.1), rgba(#fff, 0.2));
            }
          }
        }
      }
      .btn {
        cursor: pointer;
        outline: none;
        padding: 0.75rem 1.25rem;
        font-size: 1rem;
        font-family: inherit;
        background: $third-color;
        color: $content-color;
        border: 1px solid transparent;
        transition: 0.3s ease all;
        margin: 0.5em 0.5em;

        &:hover {
          background: $primary-color;
        }
        &:active {
          background: $primary-color;
          color: $third-color;
        }
      }

      &.isMenu {
        transform: translate(100%);
      }
    }

    &__toggle {
      cursor: pointer;
      display: flex;
      align-items: center;
      font-size: 2rem;
      transition: 0.3s ease all;
      position: relative;

      &:hover {
        color: $primary-color;
      }

      @include breakpoint(lg) {
        display: none;
      }
    }
  }
}
